{% extends "base.html" %}


{% block content %}

  {% for config in configs %}
    <h2>{{ config.label }}</h2>
    
    <form class="sms" action="sms.php" method="post">
      <div class="form-group">
        <label for="nummer">{{ "sms-number"|i18n }}</label>
        <input name="nummer" value="" type="text" placeholder="{{ config.example }}" class="form-control"/>
      </div>
      
      <div class="btn-group btn-group-vertical" role="group">
        <button name="test" type="submit" class="btn btn-primary">{{ "sms-test-button"|i18n }}</button>
        <button name="send" type="submit" class="btn btn-primary">{{ "sms-send-button"|i18n }}</button>
        <button name="block" type="submit" class="btn btn-primary">{{ "sms-block-button"|i18n }}</button>
        <button name="unblock" type="submit" class="btn btn-primary">{{ "sms-unblock-button"|i18n }}</button>
      </div>
      <input type="hidden" name="config" value="{{ loop.index0 }}"/>
    </form>
  
  {% endfor %}


{% endblock %}