<!DOCTYPE html>
<html>

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/bootstrap-theme.min.css">
    <script src="jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
  
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Vogen {{title}}</title>
  </head>
  
  <body>
  
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Vogen</a>
        </div>
        {% if loggedIn %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.php">Ticket management</a></li>
            <li><a href="statistik.php">Statistics</a></li>
            <li><a href="sms.php">SMS</a></li>
            <li><a href="config.php">Configuration</a></li>
            <li><a href="logout.php">Logout</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>
  
  
    <div class="container">

      {% for message in messages %}
        <div class="alert alert-{{ message.type }} alert-dismissible" message-id="{{ message.key }}" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message.message|i18n }}
        </div>
      {% endfor %}

      {% block content %}{% endblock %}

    </div>
    
    <footer class="footer">
      <div class="container">
        <div class="center">GuestTickets, based on vouchergen</div>
      </div>
    </footer>
  </body>
</html>
