{% extends "base.html" %}


{% block content %}

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{ "generate-pdf"|i18n }}</div>
        <div class="panel-body">      
          <form method="post" action="print.php">
            <div class="form-group">
              <label for="number">Number of vouchers</label>
              <input name="number" value="24" type="text" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="select_print">Database</label>
              <select name="select_print" class="form-control">
                {% for id, name in tables %}
                  <option value="{{id}}">{{name}}</option>'
                {% endfor %}
              </select>
            </div>
            <input name="submit_print" type="submit" class="btn btn-primary" value="Create PDF" />
          </form>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{ "upload-tickets"|i18n }}</div>
        <div class="panel-body">
          <form action="index.php" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="select_upload">Database</label>
              <select name="select_upload" class="form-control">
                {% for id, name in tables %}
                  <option value="{{id}}">{{name}}</option>'
                {% endfor %}
              </select>
            </div>
            
            <div class="form_group">
              <label for="datei">Select file</label>
              <input id="cvs-upload" type="file" name="datei"/>
            </div>
            <input type="submit" name="submit_upload" class="btn btn-primary" value="Upload" />
          </form>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{ "delete-database"|i18n }}</div>
        <div class="panel-body">      
          <form method="post" action="index.php">
            <div class="form-group">
              <label for="select_delete">Database</label>
              <select name="select_delete" class="form-control">
                {% for id, name in tables %}
                  <option value="{{id}}">{{name}}</option>'
                {% endfor %}
              </select>
            </div>
            <input name="submit_delete" type="submit"  class="btn btn-primary"
              value="Datenbank löschen" onclick="return window.confirm('Are you sure?');" />
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}