{% extends "base.html" %}


{% block content %}

  <form action="login.php" class="login" method="post">
    <h2 class="form-signin-heading">{{ "login-message"|i18n }}</h2>
    <label for="username" class="sr-only">{{ "login-username"|i18n }}</label>
    <input type="text" class="form-control" name="username" placeholder="{{ "login-username"|i18n }}" required autofocus/>
    <label for="passwort" class="sr-only">{{ "login-password"|i18n }}</label>
    <input type="password" class="form-control" name="passwort" placeholder="{{ "login-password"|i18n }}" required/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ "login-button"|i18n }}</button>
  </form>

{% endblock %}