{% extends "base.html" %}


{% block content %}

  <table class="table">
    <tr>
      <th>{{ "statistics-database"|i18n }}</th>
      <th>{{ "statistics-total"|i18n }}</th>
      <th>{{ "statistics-unused"|i18n }}</th>
      <th>{{ "statistics-used"|i18n }}</th>
    </tr>

    {% for stat in statistics %}
      <tr table-id="{{stat.id}}">
        <td>{{stat.name}}</td>
        <td>{{stat.total}}</td>
        <td>{{stat.unused}}</td>
        <td>{{stat.used}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}